<h1>Astronauts</h1>

<%= @astronauts.average_age %>

<% @astronauts.each do |astronaut| %>
  <%= astronaut.name %>
  <%= astronaut.age %>
  <%= astronaut.job %>
<%end%>

<% @missions_in_order.each do |mission| %>
  <%= mission.title%>
<%end%>
